* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
    
  }
  
  body {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
    background: #d13f7c;
    width: 100%;
    height: 100%;
  }
  
  .LoginPage-container label
  {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(17, 163, 182);
    font-size: 28px;
    font-weight: 200;
  }


  .LoginPage-container p
  {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 40px;
    font-weight: 200;
  }
  .LoginPage-container {
    margin: 10% auto;
    padding: 8px 0;
    text-align: center;
    color: rgb(100, 127, 158);
    font-size: 20px;
    border: 2px;
    /*border-style: ridge;*/
    border-width: 4px;
    height: 305px;
    width: 305px;
    background-color: rgb(229, 240, 247);

  }
  
  .LoginPage-container h1 {
    font-size: 40px;
    font-weight: 200;
  }
  
  input {
    border: 3px solid rgba(29, 26, 26, 0.4);
    background-color: rgba(62, 164, 231, 0.2);
    width: 200px;
    border-radius: 7px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 6px 3px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgb(17, 163, 182);
    font-weight: 300;
  }


  .headerTitle {
    font-size: 23px;
    color: white;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .headerContainer {
    /* border: 1px solid black; */
    /* background-color: #1970b0; */
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .Link {
    color: black;
    margin-left: 12px;
    font-size: 18px;
    text-decoration: none;
    margin-right: 15px;
  }
  
 
  
  .Link {
    display: flex;
    align-items: center;
  }
  
  .button{

    text-decoration: none;
    appearance: none;
    outline: 0;
    background-color: rgb(57, 124, 212);
    border: 200;
    border-color: rgb(196, 194, 194);
    padding: 10px 15px;
    color: #3d4146;
    border-radius: 20px;
    width: 100px;
    
    font-size: 18px;
    
  }