html {
  margin: 0px;
}

.logo {
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.primaryButton {
  background-color: #2f83da;
  color: white;
  padding: 8px;
  border-radius: 18px;
  text-decoration: none;
}

.primaryButton:hover {
  background-color: #2e7bcc;
}
