/* .homePage {
  background-image: url(../../images/mydental-background.pdf);
  background-size: cover;
  min-height: 100vh;
  border: 10px solid red;
} */

.homePage-container {
  /* border: 1px solid black; */
}
